

<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px"  fxFlexFill style="padding: 20px;">

	<div fxLayout="column"  style="background-color: #3B56AE; padding: 10px;" fxLayoutAlign="space-between stretch" fxLayoutGap="10px"  fxFlexFill>
		<mat-card class="cards">
			<div class="label-header">
				<label class="block-header">Cart Details</label>
			</div>
			<div class="label-deatils">
				<label class="block-details-key">No of Items</label><label class="block-details-value">:07</label><br/>
				<label class="block-details-key">Gross Total</label><label class="block-details-value">:$450</label><br/>
				<label class="block-details-key">Discount</label><label class="block-details-value">:$25</label><br/>
				<label class="block-details-key">Net Total</label><label class="block-details-value">:$425</label><br/>
			</div>
		</mat-card>
		<mat-card class="cards">
			<div class="label-header">
				<label class="block-header">Personal Details</label>
			</div>
            <div class="label-details">

				<div class="example-container">
					<label class="block-details-key">Full Name</label><br/>
					<mat-form-field>
						<input matInput placeholder="Input">
					</mat-form-field>
					<label class="block-details-key">Address</label><br/>
					<mat-form-field>
						<textarea matInput placeholder="Textarea"></textarea>
					</mat-form-field>
					<label class="block-details-key">City</label><br/>
					<mat-form-field>
						<textarea matInput placeholder="Textarea"></textarea>
					</mat-form-field>
				</div>
			</div>
		</mat-card>
	</div>
</div>